.anal-coeur {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: justify;
    margin-bottom: 20px;
    background-color: rgb(255, 245, 245);
    box-shadow: 0 0 20px rgba(115, 112, 112, 0.3);
    padding: 40px;
}

.subtitlee {
    margin-top: 20px;
    margin-bottom: 20px;
}

.anal-coeur a {
    text-decoration: none;
    color: black;
}

.anal-coeur button {
    padding: 10px;
}

.foott {
    margin: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .anal-coeur {
        margin: 0;
        padding: 50px;
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .anal-coeur h1 {
        font-size: 1.5rem;
    }
}