.anal-coeur {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: justify;
    margin-bottom: 20px;
}

.subtitlee {
    margin-top: 20px;
    margin-bottom: 20px;
}

.anal-coeur a {
    text-decoration: none;
    color: black;
}

.anal-coeur button {
    padding: 10px;
}

.foott {
    margin: 30px;
    text-align: center;
}