/* Footer styles */
.legal-thing {
    padding: 10px;
    justify-content: center;
    background-color: #f8f9fa;
    border-top: 0.5px solid #e0e0e0;
    text-align: center;
    font-size: 0.9em;
    color: #777777;
    line-height: 20px;
  }

  .legal-thing a {
    text-decoration: none;
    color: #777777;
  }

  .legal-thing a:hover {
    text-decoration: underline;
    color: #372984;
  }
