nav {
    display: flex;
    background-color: #f8f9fa;
    padding: 15px 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    flex-wrap: wrap;
    font-variation-settings:
      "wdth" 100;
    gap: 30px;
    letter-spacing: 1px;
    box-shadow: 0 4px 12px rgba(115, 112, 112, 0.2);
    position: relative;
  }
  
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .nav a {
      flex-direction: column;
      text-align: center;
    }
  }