{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Analyse</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <h1>Publier une nouvelle analyse</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.media }}  <!-- This loads CKEditor's JS and CSS -->

    <label for="id_title">Titre:</label>
    {{ form.title }} <br><br>

    <label for="id_author">Auteur (optionnel):</label>
    {{ form.author }} <br><br>

    <label for="id_content">Contenu:</label>
    {{ form.content }} <br><br>

    <label for="id_created_at">Date (optionnel):</label>
    {{ form.created_at }} <br><br>
    
    <button type="submit">Publier</button>
  </form>

</body>
</html>