{% load static %}

<!DOCTYPE html>

<html lang="fr">
  <head>
      <meta charset="utf-8">
      <title>Com Detail</title>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Allow screen size adaptation between devices -->
  </head>

  <body>
    <div class="anal-coeur">
      <h1>{{ analyse.title }}</h1>

      <div class="subtitlee">
        <p>Écrit par <strong>{{ analyse.author }}</strong> — {{ analyse.created_at|date:"d F Y" }}</p>
      </div>

      <div class="article-body">
        {{ analyse.content|safe }}
      </div>

      <div class="foott">
        <button>
          <a href="{% url 'analyse' %}">← Retour</a></p>
        </button>
      </div>
    </div>
  </body>