{% load static %}

<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <title>Communiqués</title>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="com">
    <header>
      <div class="first-div"> 
        <img class="logo" src="{% static './img/cged_logo_no_background.png' %}" alt="site_logo">
            <div class="line"></div>
        <h1>Collectif <br> Guadeloupe Éthique et Démocratie</h1>
        <a href="{% url 'login' %}">
          <i class="fa-solid fa-user" style="color: #000000;"></i>Se connecter
        </a>
      </div>
      <div class="second-div">
          <img class="flag" src="{% static './img/manif.jpg' %}" alt="manif">
      </div>
    </header>

    <nav>
      <a href="{% url 'home' %}">Accueil</a>
      <a href="{% url 'analyse' %}"> Analyses Sociétales</a>
      <a href="{% url 'about' %}"> À propos</a>
      <a href="{% url 'charte' %}">Charte</a>
      <a href="{% url 'contact' %}"> Contactez-nous</a>
    </nav>

    <div class="belly-com">
      <h2> Retrouvez ici tous nos communiqués</h2>

      <form class="sorting" method="get">
        <label for="sort">Trier par:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
          <option value="newest" {% if request.GET.sort == 'newest' %}selected{% endif %}>Plus Récent</option>
          <option value="oldest" {% if request.GET.sort == 'oldest' %}selected{% endif %}>Plus Ancien</option>
        </select>
      </form>

      <ul>
        {% for article in articles %}
        <li>
          <a href="{% url 'article_detail' article.id %}">
            {{ article.title }}
          </a>
          <p>{{ article.author }} — {{ article.created_at|date:"d F Y" }}</p>
          <div class="analytic">
            <p>{{ article.views }} vues</p>
            <form action="{% url 'like_article' article.id %}" method="post">
              {% csrf_token %}
              <button type="submit">👍 {{ article.likes }}</button>
            </form>
          </div>
        </li>
        {% empty %}
          <li>No communiqués yet.</li>
        {% endfor %}
      </ul>
    </div>

    <footer>
        <div class="legal-thing">
            <p>© Collectif Guadeloupe Éthique et Démocratie - 2025</p>
            <a href="/privacy.html">Politique de confidentialité</a>
        </div>
    </footer>
  </body>
</html>