{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="icon" href="{% static 'img/cged_logo_with_background.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header>
            <div class="first-div"> 
                <img class="logo" src="{% static './img/cged_logo_no_background.png' %}" alt="site_logo">
                    <div class="line"></div>
                <h1>Collectif <br> Guadeloupe Éthique et Démocratie</h1>
                <a href="{% url 'login' %}">
                    <i class="fa-solid fa-user" style="color: #000000;"></i>Se connecter
                </a>
            </div>
            <div class="second-div">
                <img class="flag" src="{% static './img/flag.jpg' %}" alt="manif">
            </div>
        </header>

        <nav>
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'communique' %}">Communiqués</a>
            <a href="{% url 'analyse' %}"> Analyses Sociétales</a>
            <a href="{% url 'about' %}"> À propos</a>
            <a href="{% url 'charte' %}">Charte</a>
        </nav>

        <belly class="belly-contact">
            <div class="para">
                <p>
                    Une recommendation, <br> 
                    une opinion sur comment nous pourrions améliorer notre site, <br> 
                    un commentaire sur l'un de nos communiqués <br>
                    ou tout autre sujet? <br> Envoyez-nous un message! <br>
                    Ou contactez-nous par mail: 
                    <a href="mailto:collectifGED@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                </p>  
            </div>   

            <div class="inte"></div>
                <form method="post">
                    {% csrf_token %}
                
                    <label for="{{ form.name.id_for_label }}">Votre Nom:</label> <br>
                    {{ form.name }} <br>

                    <label for="{{ form.email.id_for_label }}">Votre Email:</label> <br>
                    {{ form.email }} <br>
                
                    <label for="{{ form.message.id_for_label }}">Écrivez votre message:</label><br>
                    {{ form.message }} <br>
                
                    <button type="submit">Soumettre</button>
                </form>
                {% if message_sent %}
                <div id="message-overlay">
                    <div id="message-box">
                        <p>✅ Message envoyé avec succès !</p>
                        <button onclick="document.getElementById('message-overlay').style.display='none';">OK</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </belly>

        <footer>
            <div class="legal-thing">
                <p>© Collectif Guadeloupe Éthique et Démocratie - 2025</p>
                <a href="/privacy.html">Politique de confidentialité</a>
            </div>
        </footer>
    </body>
</html>